.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.message-edit {
  display: flex;
  margin-bottom: 10px;
}

.header {
  display: flex;
  background: #7B1FA2;
  color: #FAFAFA;
  justify-content: space-between;
}

.header-left .title {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.header-right {
  align-items: center;
  display: flex;
}

.user-profile img {
  height: 32px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
